body,h1,h2,h3,p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #23272A;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
}

.quiz-start {
    background-color: #191C1E;
    display: flex;
    border-radius: 30px;
    padding: 30px;
    max-width: 400px;
    margin-top: 50px;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}

.titulo {
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.subtitulo {
    color: #fb5;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 50px;
}

.destaque {
    color: #fb5;
}

.btn {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fb5;
    border-radius: 15px;
    padding: 15px 0;
    margin-bottom: 15px;
}

.quest {
    color: #ccc;
    background-color: #e54;
    border-radius: 4px;
    padding: 5px 0;
    font-weight: 600;
    margin-bottom: 40px;
}

.aviso {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 40px;
}

.last-quest {
    background-color: #378F01;
}

.last-btn {
    background-color: #378F01;
}

@media (max-width: 600px) {
    .quiz-start {
        margin: 20px;
    }
    .titulo {
        font-size: 1.2rem;
    }
    .subtitulo {
        font-size: 1.1rem;
    }
}