body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: #23272A;
    box-sizing: border-box;
}

.quiz-start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-content {
    max-width: 350px;
    padding: 120px 50px;
    text-align: center;
    background-color: #191C1E;
    border-radius: 20px;
}

.destaque {
    color: #fb5;
}

.titulo {
    color: #fff;
    margin: 0;
    line-height: 1.4;
}

.subtitulo {
    color: #fb5;
    padding-bottom: 40px;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #fb5;
    border-radius: 10px;
    padding: 20px 30px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    body {
        background-color: #191C1E;
    }
    .titulo {
        font-size: 1.2rem;
    }
    .subtitulo {
        font-size: 1.1rem;
    }
    .btn {
        padding: 10px 20xp;
    }
    .quiz-content {
        max-width: 300px;
    }
}